*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(20, 20, 20);
}

.lecture {
display: flex;
align-items: center;
justify-content: space-evenly;

    height: 2.5rem;
    width: 9rem;
    
    color: black; 
    border: none;
    font-size: 1rem;
    font-weight:600;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
}
.lecture img{
    height: 60%;
    width: auto;
}

.lecture:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.infos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    height: 2.5rem;
    width: 12rem;
        
    color: white; 
    border: none;
    font-size: 1rem;
    font-weight:600;
    background-color: rgba(110, 110, 110, 0.6);
    border-radius: 0.4rem;
}
.infos img{
    height: 60%;
    width: auto;
    filter: invert();
}
    
.infos:hover{
    background-color: rgba(255, 255, 255, 0.2);
}