*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(20, 20, 20);
}

.header{
    display: flex;
    justify-content: space-between;

    height: 5vw;
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: violet;
}

.logo{
    color:chartreuse;
    font-size: 2vw;
    margin: 0 2% 0 0;
}

.menu a{
    margin: 0 2% 0 2%;
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
}

.account{
    height: 100%;
    width: 20%;
    background-color: yellowgreen;
}

.une{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    height: 50vw;
    padding: 0 2% 2% 2%;
    background-color: rgb(141, 48, 48);

}

.description{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 33%;
    width: 33%;
    background-color: turquoise;
}

.description .synopsis{
    height: 60%;
    font-size:1.3vw;
    font-weight: 700;
    color: white;
}

.more{
    height: 16%;
    width: 10%;
    background-color: rgb(0, 238, 59);
}






/* ####################################################################### buttons ##################################### */







.lecture {
display: flex;
align-items: center;
justify-content: space-evenly;

    height: 25%;
    width: 38%;
    
    color: black; 
    border: none;
    font-size: 1rem;
    font-weight:600;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
}
.lecture img{
    height: 60%;
    width: auto;
}

.lecture:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.infos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    height: 25%;
    width: 58%;
        
    color: white; 
    border: none;
    font-size: 1rem;
    font-weight:600;
    background-color: rgba(110, 110, 110, 0.6);
    border-radius: 0.4rem;
}
.infos img{
    height: 60%;
    width: auto;
    filter: invert();
}
    
.infos:hover{
    background-color: rgba(255, 255, 255, 0.2);
}